{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>Пациенты в палате</th>
        <th>Дата назначения в палату</th>
    </tr>
    </thead>
    <tbody>
    {% for item_patient in patient %}
    <tr>
        <td><a href="{% url 'patient' item_patient.pk %}">{{ item_patient }}</a></td>
        <td>{{ item_patient.change_ward_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
