{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}}

{% block content %}
<div class="container">
    <h3 class="m-3">Палата № {{ ward }}</h3>
    <h3 class="m-3">Отделение: {{ ward.department }}</h3>
    <h3 class="m-3">Телефон палаты: {{ ward.phone }}</h3>
    <table class="table m-3">
        <thead>
        <tr>
            <th>Пациенты в палате</th>
            <th>Дата назначения в палату</th>
        </tr>
        </thead>
        <tbody>
        {% for item_patient in patient %}
        <tr>
            <td><a href="{% url 'patient' item_patient.pk %}">{{ item_patient }}</a></td>
            <td>{{ item_patient.change_ward_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
