{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}}

{% block content %}

    <div class="card" style="width: 100%; margin-top: 25px; margin: auto">
        <div class="card-header">
            Врач: {{ doctor }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Фамилия: {{ doctor.surname }}</li>
            <li class="list-group-item">Имя: {{ doctor.name }}</li>
            <li class="list-group-item">Отчество: {{ doctor.second_name }}</li>
            <li class="list-group-item card-text">Текущие пациенты:
            {% for item in patient %}
            <li class="list-group-item card-text text-muted">{{ item.pk }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
