{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>Пациент</th>
        <th>Номер палаты</th>
        <th>дата перемещения</th>
    </tr>
    </thead>
    <tbody>
        {% for item_patient in patient %}
            {% for item_history in history %}
                {% if item_history.id == item_patient.pk %}
                <tr>
                    <td>{{ item_patient.surname }} {{ item_patient.name }} {{ item_patient.second_name }}</td>
                    <td>{{ item_history.ward }}</td>
                    <td>{{ item_history.history_date }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            
            
        {% endfor %}
    </tbody>
</table>

{% endblock %}
