<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="background-color: #adc9ea">
    <a class="navbar-brand" href="{% url 'home' %}">Клиническая больница</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'patients' %}">Пациенты</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'doctors' %}">Врачи</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'departments' %}">Отделения</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'wards' %}">Палаты</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'add_patient' %}">Новый пациент</a>
            </li>
        </ul>
    </div>
</nav>